@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root{
    --purple: rgb(80 77 187);
    --neonpurple: rgb(105 98 249);
    --lightpurple: rgb(158 157 206);
    --teal: rgb(165 251 251);
    --darkblue: rgb(26 32 59);
}}
* {
    margin:0;
    padding:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}
body{
    background: var(--darkblue)
}